* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("img/sfondo.jpg");
    background-size: cover;
}
#wrapper {
    width: 1200px;
    margin: auto;
}
#menu-all {
    background-color: white;
}
#logo {
    padding: 1%;
    position: relative;
}
#logo figure {
    height: 300px;
    background-size: cover;
    background-image: url("img/woodland.jpg");
    background-position: center;
}
#logo div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
#logo div h1 {
    border: 3px solid white;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 30px;
}
#menu-all {
    text-align: center;
}
#menu-list {
    background-color: rgb(99, 107, 121);

}
#menu-list ul, #menu-list ul li {
    display: inline-block;
    margin: 5px;
    color: white;
}
#menu-list ul li {
    padding: 10px;
}
#menu-list ul li:hover {
    background-color: grey;
}
aside, #main-content, footer {
    border-radius: 10px;
}
main p {
    line-height: 2em;
}
aside, #main-content, footer {
    background-color: white;
    margin: 1%;
}
#content-wrapper aside {
    width: 20%;
}
.text-organizer {
    width: 100%;
    padding: 5%;
    line-height: 1.3em
}
.text-organizer h2 {
    margin-bottom: 3%;
}
.text-organizer a {
    text-decoration: none;
    color: green;
}
aside:first-child {
    float: left;
    height: 450px;
}
aside:first-child ul {
    list-style: none;
}
aside:not(:first-child) {
    height: 400px;
    float: right;
}
.last-asides {
    clear: right;
}
#content-wrapper #main-content {
    float: left;
    width: 54%;
    height: 350px;
}
aside:last-child {
    margin:
}
main::after {
    content: "";
    display: table;
    clear: both;
}
footer {
    width: 1200px;
    height: 100px;
    bottom: 0;
}
#info-footer {
    height: 80px
}
#info-footer .icon {
    position: relative;
    height: 100%;
}
#info-footer div{
    display: inline-block;
    width: 33%;
    height: 100%;
}
#info-footer .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: grey;
    font-size: 30px;
}
footer p {
    text-align: center;
    color: grey;
    font-style: italic;
    position: relative;
}
footer p::after {
    content: "";
    width: 100%;
    height: 1px;
    border-bottom: 1px solid grey;
    position: absolute;
    bottom: 0;
    left: 0;
}
